@{
    Layout = "_ConfigurePlugin";
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>All Categories</p>
        </div>
        <div class="panel-body">
            <p>These plugin doesn't need any configurations.After you install it, All Categories item will be appeared on the main menu.If you disable plugin it will dissapear.</p>
        </div>
    </div>
</div>
